@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    /* Colores */
    /* Primarios */
    --Orange: hsl(25, 97%, 53%);
    
    /*Neutrales*/
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Medium-Grey: hsl(216, 12%, 22%);
    --Light-Grey: hsl(217, 12%, 63%);

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Dark-Blue);
    font-family: 'Overpass', sans-serif;
}

h2 {
    color: #fff;
}

p {
    font-size: 14px;
    color: var(--Light-Grey);
}

/* Rating state start */

.container {
    background-color: var(--Dark-Blue);
    width: 370px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
    padding: 0 30px;
    border-radius: 20px;
}

.star-circle {
    background-color: var(--Medium-Grey);
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    position: relative;
    left: -138px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.text p {
    line-height: 22px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.rate-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.number,
.submit-button {
    transition: .3s;
}

.number {
    background-color: var(--Medium-Grey);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    color: var(--Light-Grey);
    cursor: pointer;
}

.number:hover {
    background-color: var(--Orange);
    color: #fff;
    font-weight: 700;
}

.submit-button {
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: var(--Orange);
    color: #fff;
    padding: 10px;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #fff;
    color: var(--Orange);
}

/* Rating state end */

/* Thank you state start */

.ty-img {
    width: 150px;
    height: 100px;
}

.rate-container {
    background-color: var(--Medium-Grey);
    padding: 5px 20px;
    border-radius: 30px;
}

.rate-container p {
    color: var(--Orange);
}

.ty-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ty-text p {
    line-height: 22px;
    font-size: 13.8px;
}

/* Thank you state end */

/* Classes introduced with JavaScript */

.clicked {
    background-color: var(--Light-Grey);
    color: #fff;
    font-weight: 700;
}

.hide {
    display: none;
}

/* JavaScript classes end */

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 376px) {

    /* Rating state start */

    p {
        font-size: 12.7px;
    }

    .container {
        width: 310px;
        height: 370px;
    }

    .star-circle {
        left: -108px;
    }

    .number:hover {
        background-color: var(--Light-Grey);
        color: #fff;
        font-weight: 700;
    }

    /* Rating state end */

    /* Thank you state start */

    .ty-text p {
        font-size: 12.97px;
    }

    /* Thank you state end */
}